@media only screen and (max-width: 500px) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 100% !important;
    }
}

@media only screen and (max-width: 1025px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 37% !important;
    }
}

@media only screen and (max-width: 1367px) and (min-width: 1365px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 100% !important;
    }
}

@media only screen and (max-width: 738px) and (min-width: 736px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 22% !important;
    }
}

@media only screen and (max-width: 668px) and (min-width: 666px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 20% !important;
    }
}

@media only screen and (max-width: 569px) and (min-width: 567px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 15% !important;
    }
}

@media only screen and (max-width: 733px) and (min-width: 731px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 20% !important;
    }
}

@media only screen and (max-width: 641px) and (min-width: 639px) and (orientation:landscape) {
    .logo {
        width: 63% !important;
    }

    .carousel-image{
        margin: auto;
        width: 16% !important;
    }
}

@media only screen and (max-width: 769px) and (min-width: 767px) and (orientation:portrait) {
    .logo {
        width: 26% !important;
    }
}

@media only screen and (max-width: 1026px) and (min-width: 1023px) and (orientation:portrait) {
    .logo {
        width: 32% !important;
    }
}

body {
    overflow: hidden;
}

.testa{
    padding: 0 !important;
}

.logo {
    width: 20%;
}

.carousel-image{
    margin: auto;
    width: 70%;
}

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.test {
    display: inline-table;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    font-family: Georgia;
    margin-top: 0px !important;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
